a{ text-decoration:none; color: #333;  }
.navbar li.nav-item {
    padding: 0 10px;
}
nav {
    box-shadow: 0 0 2px;
}
.bg-yellow{ background-color: #FFB00B;}
.navbar li.nav-item a{ color: #333!important; }
.navbar li.nav-item a:hover {color:#eda61c!important;}
#scuess-stroies, .page-section{background:#EEEBE6; padding:50px 0; }
 .products{ background: #fff; padding:50px 0; }
.products .icon-box {
    border: 1px solid #dee2e6;
    transition: all ease-in-out 0.3s;
        padding: 7%;
}
 .nav-link{cursor: pointer;
}

.dropdown-menu {
     padding: 0px; 
     margin: 0px; 
    border:none; 
     border-radius:0px; 
         margin-top: 16px;
}
.dropdown-item {
    padding: .25rem 0.8rem;}

.carousel {z-index: -1;}
.icon-box a {
    color: #333;
    background-color: #FFB00B;
    padding: 4%;
    margin-top: 10px;
    display: inline-block;
}

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}
.unique-color-dark {
    background-color: #1c2331 !important;
}
.page-footer, .page-footer a {
    bottom: 0;
    color: #fff;
}
#product-info i, #contact-us i, .page-footer h6 {
    font-size: 22px;
    color: #eda61c;
}
.theme-color{ color: #FFB00B; margin-right:5px; }
.footer-nav{ padding:0px;}
.footer-nav li{color:#fff; list-style: none; width: 48%; float: left; margin-bottom: 8px;}
.footer-nav li a:hover {color: #eda61c;}


/*******about us css *******/
.about-us-container {
    background-image: url(../images/rohitkrishi-about.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    padding: 200px 0;
}
#videos img{margin-top: 80px;}
#contact-us, #career, #product-info{background-color: #EEEBE6;}
.submit {
    background: #333;
    color: #f0af19;
    border-radius: 0px;
}

#product-info h6, #contact-us h6 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#product-info p, #contact-us p{padding-left: 30px;}
#product h1{ font-size: 22px; }
#product-info td {
    background: #fff;
}
#product-info tr td:last-child{ border-left: 1px solid #dee2e6;}
#product-info th:last-child{ border-left: 1px solid #dee2e6;}
#scuess-stroies ul{padding:0px;}
#scuess-stroies ul li{ list-style: none; }
#scuess-stroies ul li img{background: #fff; padding-top: 10px; filter: grayscale(100%);}
#scuess-stroies ul li img:hover{ filter:grayscale(0%)}
#scuess-stroies ul .activeclass img{ filter:grayscale(0%)!important}
#scuess-stroies ul .activeclass a{color:#FFB00B!important;}

#scuess-stroies ul li{ margin-bottom: 20px;}
#scuess-stroies .tab-content{min-height: 340px;}
span.d-block.text-center { padding:3% 14%; line-height:20px; }
#scuess-stroies ul li a:hover{color:#FFB00B; text-decoration:none; }
    